$color-dark: #222222;
$color-light: #ffffff;
$color-bg-keyboard: #1a1c21;
$color-border-keyboard: #193983;
$color-bg-key: #2e3851;
$color-bg-control-key: #0d526b;
$color-key: #f8f8f8;

$keyboard-margin: 16px;
$keyboard-row-margin: 8px;
$keyboard-border-radius: 8px;
$keyboard-padding: 10px;
$keyboard-border: 2px;

$key-width-normal: 40px;
$key-width-middle: 58px;
$key-width-wide: 88px;
$key-height: 40px;
$key-radius: 4px;
$key-margin-right: 6px;

$page-font-size: 1.6rem;
$header-font-size: 3.2rem;
$key-font-size: 1.6rem;
$print-text-font-size: 2rem;